# NumPy Exercises

Now that we've learned about NumPy let's test your knowledge. We'll start off with a few simple tasks, and then you'll be asked some more complicated questions.

#### Import NumPy as np

In [ ]:
import numpy as np

#### Create an array of 10 zeros

In [ ]:
array_of_zeros = np.zeros(10)
array_of_zeros

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

#### Create an array of 10 ones

In [ ]:
array_of_ones = [1 for i in range(10)]
array_of_ones

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

#### Create an array of 10 fives

In [ ]:
array_of_ones = [5 for i in range(10)]
array_of_ones

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

#### Create an array of the integers from 10 to 50

In [ ]:
array_of_ones = np.arange(10, 51)
array_of_ones

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

#### Create an array of all the even integers from 10 to 50

In [ ]:
array_of_ones = np.arange(10, 51,2)
array_of_ones

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

#### Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
matrix = np.arange(9).reshape(3, 3)
matrix

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

#### Create a 3x3 identity matrix

In [ ]:
identity_matrix = np.eye(3)
identity_matrix

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

#### Use NumPy to generate a random number between 0 and 1

In [ ]:
random_number = np.random.random()
random_number

0.32909437912778405

#### Use NumPy to generate an array of 25 random numbers sampled from a standard normal distribution

In [ ]:
array_of_numbers = np.random.normal(0, 1, 25)
array_of_numbers

array([ 0.3474298 ,  1.0784632 ,  0.71743544, -0.03415394, -0.1876057 ,
       -0.51373044, -1.91497417, -0.10886971,  1.57448972,  0.14046574,
        0.13297462,  1.10596475, -0.79292512,  1.15907685,  0.20803525,
        0.20742433, -0.272627  ,  0.53060095,  0.57625079, -0.22367256,
       -0.71924804, -0.47637354, -1.33706503,  0.24604724,  0.33632694])

#### Create the following matrix:

In [ ]:
array_of_numbers = np.arange(0.01, 1.01, 0.01).reshape(10, 10)
array_of_numbers

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

#### Create an array of 20 linearly spaced points between 0 and 1:

In [ ]:
array_of_points = np.linspace(0, 1, 20)
array_of_points

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

## Numpy Indexing and Selection

Now you will be given a few matrices, and be asked to replicate the resulting matrix outputs:

In [ ]:
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [ ]:
new_matrix = mat[2:, 1:]
new_matrix

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

In [ ]:
desired_array = mat[3, 4]
desired_array

20

In [ ]:
desired_array = mat[-1, :]
desired_array

array([21, 22, 23, 24, 25])

In [ ]:
desired_array = mat[:3,1:2]
desired_array

array([[ 2],
       [ 7],
       [12]])

In [ ]:
desired_array = mat[3:5, :]
desired_array

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

### Now do the following

#### Get the sum of all the values in mat

In [ ]:
total_sum = np.sum(mat)
total_sum

325

#### Get the standard deviation of the values in mat

In [ ]:
total_sum = np.std(mat)
total_sum

7.211102550927978

#### Get the sum of all the columns in mat

In [ ]:
total_sum = np.sum(mat,axis=0)
total_sum

array([55, 60, 65, 70, 75])